
@media screen and (max-width: 480px) {
  body {
    background-image: url("/users/bolortuyatumurbaatar/desktop/lab_2/img_tree.png");
    background-repeat: no-repeat;
    background-color: #F0FFFF;
  }
  h1{
    text-align: center;
    font-size: 1.5em;
  }
}
  @media only screen and (min-width: 600px)
  {
    h1{
      text-align: center;
    }
    body{
      background-image: url("/users/bolortuyatumurbaatar/desktop/lab_2/img_tree.png");
      background-color: #F0FFFF;
      background-repeat: no-repeat;
      background-position: right top;
      margin-right: 200px;
     }
    #container{
        left: 30%;
        margin-left: auto;
        position: absolute;
        margin-top: auto;
        width: 500px;
    }
    input[type=text], [type=number], select {
      width: 80%;
      padding: 12px 20px;
      margin: 8px 0;
      display: block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    label{
      font-size:18px;
      font-family: cursive;
    }
  }
